

  .form{
   
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    font-family: sans-serif;
 
  }

  
  
  button[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    font-size: 16px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    opacity: 0.9;
  }